# OS files
.DS_Store
Thumbs.db

# Environment varialbles & secrets
.env/
.env.local

# Virtual environments
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Testing and coverage directories
.pytest_cache/